{% extends "layout.html.twig" %}

{% block title %}Home{% endblock %}

{% block content %}

    {% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}
    <form action="#" method="post">
        {{ form_widget(form) }}
        <input type="submit" name="submit" />
    </form>

    <div id="container-sejours">
        <div id="grid-sejours" style="margin-top: 20px;"></div>
        <div id="button-archivage" style="margin-top: 15px;"></div>
    </div>
    <div id="loadpanel"></div>

    <script src="{{ asset('js/display_sejours.js') }}"></script>

{% endblock %}
