{% extends "layout.html.twig" %}

{% block title %}Home{% endblock %}

{% block content %}

    <div id="container-archivage">
        <div id="container-dates" style="padding-top: 15px;">
            <div id="form-dates"></div>
            <div id="button-dates" style="margin-top: 15px;"></div>
        </div>
        <div id="container-sejours">
            <div id="grid-sejours" style="margin-top: 20px;"></div>
            <div id="button-archivage" style="margin-top: 15px;"></div>
        </div>
        <div id="loadpanel"></div>
    </div>

    <script>

        var loadpanel = $("#loadpanel").dxLoadPanel({

            width: 300,
            message: "Recherche des séjours...",
            visible: false,
            shading: true,
            shadingColor: "rgba(0,0,0,0.4)",
            position: { of: "#container-archivage" }
        }).dxLoadPanel("instance");

        $(function() {

            $("#form-dates").dxForm({

                showColonAfterLabel: false,
                alignItemLabels: true,
                validationGroup: "validationGroup",
                items: [
                    {
                        label: { text: "Date de début" },
                        name: "date_debut",
                        editorType: "dxDateBox",
                        editorOptions: {

                            dateSerializationFormat: "yyyy-MM-dd"
                        },
                        validationRules: [{

                            type: "required",
                            message: "Requis"
                        }]
                    },
                    {
                        label: { text: "Date de fin" },
                        name: "date_fin",
                        editorType: "dxDateBox",
                        editorOptions: {

                            dateSerializationFormat: "yyyy-MM-dd"
                        },
                        validationRules: [{

                            type: "required",
                            message: "Requis"
                        }]
                    }
                ]
            });

            $("#button-dates").dxButton({

                text: "Rechercher",
                type: "success",
                validationGroup: "validationGroup",
                onClick: function (e) {

                    var result = e.validationGroup.validate();

                    if (result.isValid) {

                        loadpanel.show();

                        var form = $("#form-dates").dxForm("instance"),
                            data = form.option("formData"),
                            url  = "http://localhost/mediboard/index.php?login=univlr:lrUniv17&m=TP1&tab=Encounter";

                        $.ajax({

                            type: "GET",
                            url: url,
                            data: {

                                date_min: data.date_debut,
                                date_max: data.date_fin
                            }

                        })
                        .done(function(result) { archivage(result); loadpanel.hide(); })
                        .fail(function(result) {

                            console.log(result);
                            loadpanel.hide();
                        });
                    }
                }
            });
        });

        function archivage(result) {

            var data = [];

            result.entry.forEach(function(el) {

                data.push({

                    entree: el.resource.period.start,
                    sortie: el.resource.period.end,
                    id: el.resource.id,
                    patient: el.resource.subject.display
                });
            });

            $("#grid-sejours").dxDataGrid({

                dataSource: data,
                allowColumnResizing: true,
                allowColumnReordering: true,
                hoverStateEnabled: true,
                showRowLines: true,
                showBorders: true,
                headerFilter: { visible: true },
                loadPanel: { enabled: true },
                paging: { pageSize: 25 },
                pager: { showInfo: true	},
                selection: {

                    mode: "multiple",
                    showCheckBoxesMode: "always"
                },
                columns: [
                    {
                        dataField: "entree",
                        caption: "Entrée",
                        dataType: "date"
                    },
                    {
                        dataField: "sortie",
                        dataType: "date"
                    },
                    {
                        dataField: "patient",
                    }
                ]
            });

            $("#button-archivage").dxButton({

                text: "Archiver",
                type: "success",
                onClick: function(e) {

                    loadpanel.show();
                    loadpanel.option("message", "Récupération des documents...");

                    var grid         = $("#grid-sejours").dxDataGrid("instance"),
                        selectedRows = grid.getSelectedRowsData();

                    selectedRows.forEach(function(el) {

                        getDocuments(el)
                        .done(function(result) {

                            //console.log(result);
                            loadpanel.option("message", "Création des archives...");
                            var docs = result.entry,
                                a = {

                                    idSejour: el.id,
                                    dateEntree: el.entree,
                                    dateSortie: el.sortie,
                                    patient: el.patient,
                                    documents: docs
                                },
                                str = JSON.stringify(a);

                            $.ajax({

                                type: "POST",
                                url: "/OX-Archive/web/index.php/archivage",
                                data: { "str": str },
                                statusCode: {

                                    200: function() {

                                        loadpanel.option("indicatorSrc", "../images/check.png");
                                        loadpanel.option("message", "Le dossier du patient " +a.patient+ " a été archivé");
                                        setTimeout(function() { loadpanel.hide(); }, 3000);
                                    },
                                    400: function() {

                                        loadpanel.option("indicatorSrc", "../images/banned.png");
                                        loadpanel.option("message", "Le dossier d'archive existe déjà");
                                        setTimeout(function() { loadpanel.hide(); }, 3000);
                                    },
                                    401: function() {

                                        loadpanel.option("indicatorSrc", "../images/banned.png");
                                        loadpanel.option("message", "Le fichier à enregistrer existe déjà");
                                        setTimeout(function() { loadpanel.hide(); }, 3000);
                                    }
                                }
                            });
                        })
                        .fail(function(result) {

                            loadpanel.option("indicatorSrc", "../images/banned.png");
                            loadpanel.option("message", "Erreur lors de la récupération des fichiers");
                            setTimeout(function() { loadpanel.hide(); }, 3000);
                        });
                    });
                }
            })
        }

        function getDocuments(sejour) {

            var id  = sejour.id,
                url = "http://localhost/mediboard/index.php?login=univlr:lrUniv17&m=TP1&tab=DocumentReference";

            return $.ajax({

                type: "GET",
                url: url,
                data: { sejour_id: id }
            });
        }
    </script>





































    {#
    {% if form is defined %}

        {% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}
        <form action="#" method="post">
          {{ form_widget(form) }}
          <input type="submit" name="submit" />
        </form>

    {% else %}

        {% for flashMessage in app.session.flashbag.get('error') %}
          <div class="alert alert-danger">
            {{ flashMessage }}
          </div>
        {% endfor %}

        {% for flashMessage in app.session.flashbag.get('success') %}
          <div class="alert alert-success">
            {{ flashMessage }}
          </div>
        {% endfor %}

        <div id="grid-sejours"></div>
        <div id="button-archivage"></div>



    {% endif %}
    #}
{% endblock %}
