{% extends "layout.html.twig" %}

{% block title %}Home{% endblock %}

{% block content %}

    {% if form is defined %}

      {% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}
      <form action="#" method="post">
          {{ form_widget(form) }}
          <input type="submit" name="submit" />
      </form>
    {% else %}
        <div class="tab-pane">
            {% if documents %}
            <div class="table-responsive">
                <table class="table table-hover table-condensed">
                    <thead>
                        <tr>
                            <th>Score</th>
                            <th>Path</th>
                            <th></th>  <!-- Actions column -->
                        </tr>
                    </thead>
                    {% for document in documents %}
                    <tr>
                        <td>{{ document.score }}</a></td>
                        <td>{{ document.path }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
            {% else %}
              <div class="alert alert-warning">No documents found.</div>
            {% endif %}
        </div>
    {% endif %}

{% endblock %}
